<!DOCTYPE html>
<html>
    <head>
        <title> finish </title>
        <link href="/mysite/New folder/B_NAZANIN" rel="stylesheet" type="text/css">
    </head>
    <style>
        body{
        background-color: rgb(253, 246, 145);    
    }  
    </style>
        <body>
            {% csrf_token %}
            <br/>
            <br/>
            <br/>
            <br/>
            <center><h1>اطلاعات شما ثبت شد</h1></center>
            <center><h1>با تشکر</h1></center>
        </body>
</html>