<html>
    <head>
        <link href='/mysite/New folder/B_NAZANIN' rel='stylesheet' type='text/css'>
    </head>    
        <style> 
        body {
    background-image: url('https://image.freepik.com/free-photo/together-we-can-help-concept_23-2148733266.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
        }

            h3 {
    color: #e9c46a;
    }

            p {
    color: #e9c46a;
    }

        </style>
        <title>  یاری رسان </title>
    <body>
        {% csrf_token %}
        <br/>
        <br/>
        <font size = "+3">
        <center> به سایت یاری رسان خوش آمدید </center>
        </font>
    </body>    
        <br/>
    <body>
        <font size = "+1">   
        <center>هدف از ایجاد سایت فراهم کردن محیطی برای کمک به یک دیگر است</center>
        <center>در صورت نیاز به دریافت کمک و ثبت درخواست گزینه ی یاری  گیرنده را انتخاب کرده</center>
        <center>و در صورتی که قصد کمک کردن دارید گزینه ی یاری دهنده را کلیک کنید</center>
        </font>
        <br/>
        <center><a href = "/need_help"><button>یاری گیرنده</button></a></center>
        <center><a href ="/helper"><button>یاری دهنده</button></a></center>
    </body>
</html>